<h1 style='font-size:40px'>Working with Text in Python </h1>

<h2 style='font-size:30px'> Handling Text in Python</h2>
<div> 
    <ul style='font-size:20px'>
        <li>
            O Python possui uma série de funções built-in capazes de fazer pequenas análises de texto.
        </li>
    </ul>
</div>

<h3 style='font-size:30px;font-style:italic'> startswith</h3>

In [9]:
# 'startswith' nos indica se uma string começa com um determinado caractere ou trecho.
s = 'Felipe Fernando Eduardo Rodrigo Caio'
nomes = s.split(' ')

# Quais nomes começam com 'F'?
[word.startswith('F') for word in nomes]

[True, True, False, False, False]

<h3 style='font-size:30px;font-style:italic'> endswith</h3>

In [10]:
# Antônimo de 'startswith', verifica se a palavra termina com um determinado caractere ou trecho.

# Quais nomes terminam com 'o'?
[word.endswith('o') for word in nomes]

[False, True, True, True, True]

<h3 style='font-size:30px;font-style:italic'> Métodos de tipos de letra</h3>

In [21]:
# isupper: verifica se a palavra está toda em upper case.
upper = 'HELLO'
print(upper.isupper())

# islower: verifica se a palavra está toda em lower case.
not_lower = 'NOTLOWERATALL'
print(not_lower.islower())

# istitle: A palavra começa com uma letra em maiúscula seguida de minúsculas?
felipe = 'Felipe'
print(felipe.istitle())

True
False
True

<h3 style='font-size:30px;font-style:italic'> Métodos de tipos de caractere</h3>

In [27]:
# isalpha: a string possui apenas caracteres alfabéticos?
senha = 'Pizza123'
print(senha.isalpha())

# isnum: a string é constituída apenas de caracteres numéricos.
vault_password = '0123'
print(vault_password.isdigit())

# isalnum: a string tem apenas dígitos e letras?
senha2 = 'Num3r0'
print(senha2.isalnum())

False
True
True

<p style='font-size:15px'>Nota: o Python possui métodos como isnumeric e isdecimal, cujos propósitos podem nos confundir.<a href='https://datagy.io/python-isdigit/#:~:text=The%20Python%20isnumeric%20method%20has,all%20the%20characters%20are%20numeric.' >Ler este texto</a> </p>

<h3 style='font-size:30px;font-style:italic'> Transformações de strings</h3>

In [33]:
# upper
lower = 'make me bigger'
print(lower.upper())

# lower
upper = 'MAKE ME SMALLER'
print(upper.lower())

# title
mingle = 'TURN me INTO a HEADLINE'
print(mingle.title())

MAKE ME BIGGER
make me smaller
Turn Me Into A Headline

In [60]:
# split: quebra s string nos espaços.
spaces = 'Hello World'
print(spaces.split())

# splitlines: quebra a string em '\n'
paragraphs = 'Para 1\nPara2\nPara3'
print(paragraphs.splitlines())

# join: insere um caractere entre cada caractere de uma string
s1 = 'Dot me'
print('.'.join(s1))

# o join funciona também para concatenar elementos de lista.
space_me = ['Insert', 'a', 'space', 'among', 'us']
print(' '.join(space_me))

['Hello', 'World']
['Para 1', 'Para2', 'Para3']
D.o.t. .m.e
Insert a space among us

In [48]:
# strip: remove whitespaces do início ou fim.
s = '\tSpaceTab\n'
print(s.strip())

# lstrip: remove whitespaces do início da string.
phrase = ' Space'
print(phrase.lstrip())

# rstrip: remove whitespaces do final da string.
column_mistake = 'Pop_Pct '
print(column_mistake.rstrip())

# Nota: os strip's funcionam com '\r' ou '\r\n'

SpaceTab
Space
Pop_Pct

In [57]:
# find: retorna o índice do primeiro em que o caractere desejado é encontrado primeiro.
name = 'Steve Jobs'
print(name.find('e'))

# rfind:retorna o índice do primeiro em que o caractere desejado é encontrado primeiro (trás pra frente)
other_name = 'ama'
print(other_name.rfind('a'))

# replace: substitui um caractere ou trecho por outro.
felipe = 'Fel***'
print(felipe.replace('***', 'ipe'))

2
2
Felipe

<h3 style='font-size:30px;font-style:italic'> Lendo textos grandes</h3>

In [19]:
# Para ilustrar como poderíamos iniciar uma análise de texto livre, utilizaremos a DUDH da ONU.
f = open('UNDHR.txt', 'r')

# Veja a bagunça desse output.
f.read()

'Universal Declaration of Human Rights\nPreamble\nWhereas recognition of the inherent dignity and of the equal and inalienable\nrights of all members of the human family is the foundation of freedom, justice\nand peace in the world,\nWhereas disregard and contempt for human rights have resulted in barbarous\nacts which have outraged the conscience of mankind, and the advent of a world\nin which human beings shall enjoy freedom of speech and belief and freedom\nfrom fear and want has been proclaimed as the highest aspiration of the common\npeople,\nWhereas it is essential, if man is not to be compelled to have recourse, as a last\nresort, to rebellion against tyranny and oppression, that human rights should be\nprotected by the rule of law,\nWhereas it is essential to promote the development of friendly relations between\nnations,\nWhereas the peoples of the United Nations have in the Charter reaffirmed their\nfaith in fundamental human rights, in the dignity and worth of the human person\nand in the equal rights of men and women and have determined to promote\nsocial progress and better standards of life in larger freedom,\nWhereas Member States have pledged themselves to achieve, in cooperation\nwith the United Nations, the promotion of universal respect for and observance of\nhuman rights and fundamental freedoms,\nWhereas a common understanding of these rights and freedoms is of the\ngreatest importance for the full realization of this pledge,\nNow, therefore,\nThe General Assembly,\nProclaims this Universal Declaration of Human Rights as a common standard of\nachievement for all peoples and all nations, to the end that every individual and\nevery organ of society, keeping this Declaration constantly in mind, shall strive by \nteaching and education to promote respect for these rights and freedoms and by\nprogressive measures, national and international, to secure their universal and\neffective recognition and observance, both among the peoples of Member States\nthemselves and among the peoples of territories under their jurisdiction.\nArticle I\nAll human beings are born free and equal in dignity and rights. They are\nendowed with reason and conscience and should act towards one another in a\nspirit of brotherhood.\nArticle 2\nEveryone is entitled to all the rights and freedoms set forth in this Declaration,\nwithout distinction of any kind, such as race, colour, sex, language, religion,\npolitical or other opinion, national or social origin, property, birth or other status.\nFurthermore, no distinction shall be made on the basis of the political,\njurisdictional or international status of the country or territory to which a person\nbelongs, whether it be independent, trust, non-self-governing or under any other\nlimitation of sovereignty.\nArticle 3\nEveryone has the right to life, liberty and the security of person.\nArticle 4\nNo one shall be held in slavery or servitude; slavery and the slave trade shall be\nprohibited in all their forms.\nArticle 5\nNo one shall be subjected to torture or to cruel, inhuman or degrading treatment\nor punishment. \nArticle 6\nEveryone has the right to recognition everywhere as a person before the law.\nArticle 7\nAll are equal before the law and are entitled without any discrimination to equal\nprotection of the law. All are entitled to equal protection against any\ndiscrimination in violation of this Declaration and against any incitement to such\ndiscrimination.\nArticle 8\nEveryone has the right to an effective remedy by the competent national tribunals\nfor acts violating the fundamental rights granted him by the constitution or by law.\nArticle 9\nNo one shall be subjected to arbitrary arrest, detention or exile.\nArticle 10\nEveryone is entitled in full equality to a fair and public hearing by an independent\nand impartial tribunal, in the determination of his rights and obligations and of any\ncriminal charge against him.\nArticle 11\n1. Everyone charged with a penal offence has the right to be presumed\ninnocent until proved guilty according to law in a public trial at which he\nhas had all the guarantees necessary for his defence.\n2. No one shall be held guilty of any penal offence on account of any act or\nomission which did not constitute a penal offence, under national or\ninternational law, at the time when it was committed. Nor shall a heavier \npenalty be imposed than the one that was applicable at the time the penal\noffence was committed.\nArticle 12\nNo one shall be subjected to arbitrary interference with his privacy, family, home\nor correspondence, nor to attacks upon his honour and reputation. Everyone has\nthe right to the protection of the law against such interference or attacks.\nArticle 13\n1. Everyone has the right to freedom of movement and residence within the\nborders of each State.\n2. Everyone has the right to leave any country, including his own, and to\nreturn to his country.\nArticle 14\n1. Everyone has the right to seek and to enjoy in other countries asylum from\npersecution.\n2. This right may not be invoked in the case of prosecutions genuinely\narising from non-political crimes or from acts contrary to the purposes and\nprinciples of the United Nations.\nArticle 15\n1. Everyone has the right to a nationality.\n2. No one shall be arbitrarily deprived of his nationality nor denied the right to\nchange his nationality.\nArticle 16 \n1. Men and women of full age, without any limitation due to race, nationality\nor religion, have the right to marry and to found a family. They are entitled\nto equal rights as to marriage, during marriage and at its dissolution.\n2. Marriage shall be entered into only with the free and full consent of the\nintending spouses.\n3. The family is the natural and fundamental group unit of society and is\nentitled to protection by society and the State.\nArticle 17\n1. Everyone has the right to own property alone as well as in association with\nothers.\n2. No one shall be arbitrarily deprived of his property.\nArticle 18\nEveryone has the right to freedom of thought, conscience and religion; this right\nincludes freedom to change his religion or belief, and freedom, either alone or in\ncommunity with others and in public or private, to manifest his religion or belief in\nteaching, practice, worship and observance.\nArticle 19\nEveryone has the right to freedom of opinion and expression; this right includes\nfreedom to hold opinions without interference and to seek, receive and impart\ninformation and ideas through any media and regardless of frontiers.\nArticle 20\n1. Everyone has the right to freedom of peaceful assembly and association.\n2. No one may be compelled to belong to an association.\nArticle 21 \n1. Everyone has the right to take part in the government of his country,\ndirectly or through freely chosen representatives.\n2. Everyone has the right to equal access to public service in his country.\n3. The will of the people shall be the basis of the authority of government;\nthis will shall be expressed in periodic and genuine elections which shall\nbe by universal and equal suffrage and shall be held by secret vote or by\nequivalent free voting procedures.\nArticle 22\nEveryone, as a member of society, has the right to social security and is entitled\nto realization, through national effort and international co-operation and in\naccordance with the organization and resources of each State, of the economic,\nsocial and cultural rights indispensable for his dignity and the free development\nof his personality.\nArticle 23\n1. Everyone has the right to work, to free choice of employment, to just and\nfavourable conditions of work and to protection against unemployment.\n2. Everyone, without any discrimination, has the right to equal pay for equal\nwork.\n3. Everyone who works has the right to just and favourable remuneration\nensuring for himself and his family an existence worthy of human dignity,\nand supplemented, if necessary, by other means of social protection.\n4. Everyone has the right to form and to join trade unions for the protection of\nhis interests.\nArticle 24\nEveryone has the right to rest and leisure, including reasonable limitation of\nworking hours and periodic holidays with pay. \nArticle 25\n1. Everyone has the right to a standard of living adequate for the health and\nwell-being of himself and of his family, including food, clothing, housing\nand medical care and necessary social services, and the right to security\nin the event of unemployment, sickness, disability, widowhood, old age or\nother lack of livelihood in circumstances beyond his control.\n2. Motherhood and childhood are entitled to special care and assistance. All\nchildren, whether born in or out of wedlock, shall enjoy the same social\nprotection.\nArticle 26\n1. Everyone has the right to education. Education shall be free, at least in the\nelementary and fundamental stages. Elementary education shall be\ncompulsory. Technical and professional education shall be made\ngenerally available and higher education shall be equally accessible to all\non the basis of merit.\n2. Education shall be directed to the full development of the human\npersonality and to the strengthening of respect for human rights and\nfundamental freedoms. It shall promote understanding, tolerance and\nfriendship among all nations, racial or religious groups, and shall further\nthe activities of the United Nations for the maintenance of peace.\n3. Parents have a prior right to choose the kind of education that shall be\ngiven to their children.\nArticle 27\n1. Everyone has the right freely to participate in the cultural life of the\ncommunity, to enjoy the arts and to share in scientific advancement and\nits benefits. \n2. Everyone has the right to the protection of the moral and material interests\nresulting from any scientific, literary or artistic production of which he is the\nauthor.\nArticle 28\nEveryone is entitled to a social and international order in which the rights and\nfreedoms set forth in this Declaration can be fully realized.\nArticle 29\n1. Everyone has duties to the community in which alone the free and full\ndevelopment of his personality is possible.\n2. In the exercise of his rights and freedoms, everyone shall be subject only\nto such limitations as are determined by law solely for the purpose of\nsecuring due recognition and respect for the rights and freedoms of others\nand of meeting the just requirements of morality, public order and the\ngeneral welfare in a democratic society.\n3. These rights and freedoms may in no case be exercised contrary to the\npurposes and principles of the United Nations.\nArticle 30\nNothing in this Declaration may be interpreted as implying for any State, group or\nperson any right to engage in any activity or to perform any act aimed at the\ndestruction of any of the rights and freedoms set forth herein. '

In [20]:
# Para melhor nos organizarmos, iremos dividir a string com base nos '\n'.

# Zerando a posição de leitura do arquivo.
f.seek(0)
undhr = f.read().splitlines()

# Pegando a primeira frase da Declaração.
undhr[0]

# Ao terminarmos de usar o arquivo, podemos fechá-lo.
f.close()

<div>
    <hr>
    <h2 style='font-size:30px'> Regular Expressions</h2>
</div>
<div> 
    <ul style='font-size:20px'> 
        <li>
            Reforçaremos aqui nossas habilidades com expressões regulares, aprendidas no primeiro curso da especialização.
        </li>
    </ul>
</div>

<h3 style='font-size:30px;font-style:italic'> Encontrando trechos específicos</h3>

In [2]:
# Com este tweet adaptado da conta do Liverpool, como identificaríamos 'callouts' e 'hashtags'?
liverpool = 'The @LuisFDiaz19 strike @ that brought us level in the 1-1 draw with Tottenham \n#LIVTOT'

# Lembre-se sempre de invocar 'split'.
hashtags = [word for word in liverpool.split() if word.startswith('#')]
print(hashtags)

callouts = [word for word in liverpool.split() if word.startswith('@')]
print(callouts)
#LIVTOT

['#LIVTOT']
['@LuisFDiaz19', '@']

<div> 
    <ul style='font-size:20px'> 
        <li>
            Mas observe, o segundo elemento de <em> callouts</em> não é, de fato, um callout. Nesse caso, precisaríamos de oferecer uma definição melhor do que seria uma invocação de um username.
        </li>
    </ul>
</div>

In [4]:
# Usando os objetos do módulo 're', é possível sermos mais específicos quanto a isso.

# Definição de um callout: todo nome cujo primeiro caractere é um arroba seguido de letras, números ou hashtag uma ou mais vezes.
import re
[word for word in liverpool.split() if re.search('@[\w-]+', word)]

['@LuisFDiaz19']

<center>
    <h1>Revisão dos metacaracteres de RE</h1>
    <img src='meta1.png'>
    <hr>
    <img src='meta2.png'>
    <hr>
    <img src='meta3.png'>
</center>

<h3 style='font-size:30px;font-style:italic'> Encontrando caracteres específicos</h3>

In [56]:
# re.findall nos retorna todas as instâncias dos caracteres desejados.

# Quantos r's ou a's existem na frase abaixo?
rato_rei = 'O rato roeu a roupa do rei de Roma'
rs_as = [letter for letter in rato_rei.casefold() if re.findall(r'[ra]', letter)]
print(rs_as)

# Quais caracteres que não sejam 'r' existem na frase?
not_r = [letter for letter in rato_rei.casefold() if re.findall(r'[^r]', letter)]
print(not_r)

['r', 'a', 'r', 'a', 'r', 'a', 'r', 'r', 'a']
['o', ' ', 'a', 't', 'o', ' ', 'o', 'e', 'u', ' ', 'a', ' ', 'o', 'u', 'p', 'a', ' ', 'd', 'o', ' ', 'e', 'i', ' ', 'd', 'e', ' ', 'o', 'm', 'a']

<h3 style='font-size:30px;font-style:italic'> Lidando com datas</h3>

In [63]:
dates = ''' 
        23 Oct 2002
        23 October 2002
        October 23, 2002
        Oct 23, 2002
        '''

# Veja que o retorno da função foi apenas um trecho do termo identificado.
print(re.findall('\d{1,2} (Oct|Nov|Dec) \d{4}', dates))

# Para fazermos com que a data por completa apareça, ponha '?:' como primeiro elemento de ().
print(re.findall('\d{1,2} (?:Oct|Nov|Dec) \d{4}', dates))

# Uma maneira criativa de uma das datas como o mês por extenso aparecer:

# Aqui, indicamos que é possível haver zero ou mais caracteres minúsculos após os três primeiro caracteres do mês.
print(re.findall('\d{1,2} (?:Oct|Nov|Dec)[a-z]* \d{4}', dates))

['Oct']
['23 Oct 2002']
['23 Oct 2002', '23 October 2002']

In [72]:
# Desafio! Vamos fazer com que todas as datas apareçam.

# Veja que colocando a presença do primeiro agrupamento em parênteses como algo não definido, damos a liberdade para que
# a seção (?:Oct|Nov|Dec)[a-z]* seja tanto o primeiro, quanto o segundo elemento da data.

# A existência incerta agrupamento (?:\d{1,2}, )? também confere uma maior flexibilidade para a identificação da datas.
pattern = '(?:\d{1,2} )?(?:Oct|Nov|Dec)[a-z]* (?:\d{1,2}, )?(?:\d{4})'
re.findall(pattern, dates)

['23 Oct 2002', '23 October 2002', 'October 23, 2002', 'Oct 23, 2002']

<div> 
    <ul style='font-size:20px'> 
        <li>
            Portanto, ao termos que fazer uma análise de RE em expressões muito diferentes, busque sempre encontrar os seus elementos comuns e variáveis.
        </li>
        <li> 
            Às vezes, os termos em comum podem nem ser palavras completas, mas apenas segmentos delas.
        </li>
    </ul>
</div>

<div>
<hr>
<h2 style='font-size:30px'> Demonstration: Regex with Pandas and Named Groups</h2>
<div> 
    <ul style='font-size:20px'> 
        <li> 
            O pandas possui um conjunto de métodos voltados à strings.
        </li>
    </ul>
</div>
</div>

In [7]:
# Iremos usar esse DataFrame com uma coluna de texto livre.
import pandas as pd

time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]

df = pd.DataFrame(time_sentences, columns=['text'])
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

<h3 style='font-size:30px;font-style:italic'> str.len</h3>
<div> 
    <ul style='font-size:20px'> 
        <li>Retorna o número de caracteres de cada célula.
        </li>
    </ul>
</div>

In [8]:
# Quantos caracteres há em cada célula?
df['text'].str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

<h3 style='font-size:30px;font-style:italic'> str.split</h3>
<div> 
    <ul style='font-size:20px'> 
        <li>
            Separa os elementos da célula com base no espaço.
        </li>
    </ul>
</div>

In [46]:
print(df['text'].str.split(), end='\n\n')

# Quantas palavras há em cada célula?
print(df['text'].str.split().str.len())

0    [Monday:, The, doctor's, appointment, is, at, ...
1    [Tuesday:, The, dentist's, appointment, is, at...
2    [Wednesday:, At, 7:00pm,, there, is, a, basket...
3    [Thursday:, Be, back, home, by, 11:15, pm, at,...
4    [Friday:, Take, the, train, at, 08:10, am,, ar...
Name: text, dtype: object

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

<h3 style='font-size:30px;font-style:italic'> str.contains</h3>
<div> 
    <ul style='font-size:20px'> 
        <li>
              Verifica se a célula possui um determinado trecho.
        </li>
    </ul>
</div>

In [14]:
# Verifica se a célula possui um determinado trecho.
df['text'].str.contains('appointment')

0     True
1     True
2    False
3    False
4    False
Name: text, dtype: bool

<h3 style='font-size:30px;font-style:italic'> str.count</h3>
<div> 
    <ul style='font-size:20px'> 
        <li>
              Conta o número de ocorrências de um certo padrão.
        </li>
    </ul>
</div>

In [15]:
# Conta o número de ocorrências de um certo padrão.

# Quantos dígitos há em cada célula?
df['text'].str.count('\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

<h3 style='font-size:30px;font-style:italic'> str.findall</h3>
<div> 
    <ul style='font-size:20px'> 
        <li>
              Encontra todas as ocorrências de um certo padrão.
        </li>
    </ul>
</div>

In [24]:
# Encontra todas as ocorrências de um certo padrão.

# Quais são os dígitos que cada célula apresenta?
print(df['text'].str.findall('\d'))

# Extraindo os horários de cada célula.
print(df['text'].str.findall('(?:\d{1,2}):(?:\d{2})\s?(?:am|pm)'))

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

0               [2:45pm]
1             [11:30 am]
2               [7:00pm]
3             [11:15 pm]
4    [08:10 am, 09:00am]
Name: text, dtype: object

<h3 style='font-size:30px;font-style:italic'> str.replace</h3>
<div> 
    <ul style='font-size:20px'> 
        <li>
             Substitui todas as ocorrências de um padrão por um valor.
        </li>
    </ul>
</div>

In [34]:
# Substitui todas as ocorrências de um padrão por um valor.

# Omitindo o nome dos dias da semana por '???'
print(df['text'].str.replace('[A-z]+day', '???'))

# Trocando o nome por extenso pela abreviação.

# O método 'groups' acessará os grupos do padrão. Logo em seguida, pegaremos um trecho do primeiro grupo.
df['text'].str.replace('([A-z]+day)', lambda x: x.groups()[0][:3])

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

<ipython-input-34-66686c03533e>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  print(df['text'].str.replace('[A-z]+day', '???'))
<ipython-input-34-66686c03533e>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df['text'].str.replace('([A-z]+day)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

<h3 style='font-size:30px;font-style:italic'> str.extract</h3>
<div> 
    <ul style='font-size:20px'> 
        <li>
             Interessantíssimo: Cria novas colunas cujos valores serão os padrões encontrados em uma outra.
        </li>
    </ul>
</div>

In [36]:
# Interessantíssimo: Cria novas colunas cujos valores serão os padrões encontrados em uma outra.

# Criando uma coluna com a hora, minuto e am/pm de cada sentença.

# Adicionando um parênteses em toda a string para que o horário por inteiro também se torne uma coluna.
df['text'].str.extract('((\d{1,2}):(\d{2})\s?(am|pm))')

          0   1   2   3
0    2:45pm   2  45  pm
1  11:30 am  11  30  am
2    7:00pm   7  00  pm
3  11:15 pm  11  15  pm
4  08:10 am  08  10  am

<h3 style='font-size:30px;font-style:italic'> str.extractall</h3>
<div> 
    <ul style='font-size:20px'> 
        <li> 
            Mas observe, a última linha de <em> df</em> tem, na verdade, dois horários. Para que todas as correspondências apareçam, vamos usar o str.extractall.
        </li>
    </ul>
</div>

In [38]:
# O que nos é retornado é um multindex DF, agora, com toas as correspondências.
df['text'].str.extractall('((\d{1,2}):(\d{2}) ?(am|pm))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am

<div> 
    <ul style='font-size:20px'> 
        <li> 
            No entanto, há ainda algo que nos incomoda. Todas as colunas geradas possuem um nome genérico. Como podemos definir um label customizado?
        </li>
    </ul>
</div>

In [45]:
# Para isso, use '?P<nome_coluna>' antes do padrão.
df['text'].str.extractall('(?P<time>(?P<hour>\d{1,2}):(?P<minute>\d{2}) ?(?P<period>am|pm))')

             time hour minute period
  match
0 0        2:45pm    2     45     pm
1 0      11:30 am   11     30     am
2 0        7:00pm    7     00     pm
3 0      11:15 pm   11     15     pm
4 0      08:10 am   08     10     am
  1       09:00am   09     00     am

<div>
    <hr>
    <h2 style='font-size:30px'> Internationalization and Issues with Non-ASCII Characters</h2>
</div>

<div> 
    <ul style='font-size:20px'> 
        <li> 
            Teremos contato com os diversos padrões de encoding de caracteres usados no mundo inteiro.
        </li>
    </ul>
</div>

<h3 style='font-size:30px;font-style:italic'> ASCII</h3>

<center> 
    <img src='ascii1.png'>
</center>

<div> 
    <ul style='font-size:20px'>
        <li> 
            O ASCII, possui uma série de limitações que envolvem, até mesmo, a língua inglesa. Por exemplo, certas palavras do idioma são estrangeirismos e possuem acento.
        </li>
    </ul>
</div>
<center> 
    <img src='ascii2.png'>
</center>

In [54]:
# Exemplos das limitações do ASCII.
ascii('Zürich'), ascii('naïve')

("'Z\\xfcrich'", "'na\\xefve'")

<h2 style='font-size:30px'> Outras formas de encoding</h2>
<center> 
    <img src='encoding1.png'>
</center>

In [63]:
! mv /Users/felipeveiga/Desktop/Screen\ Shot\ 2022-05-10\ at\ 11.06.57.png ./encoding1.png

<p style='color:red'> Parei em Internationalization and Issues with Non-ASCII Characters (6:40)</p>