In [2]:
# Question 1
import numpy as np

a = np.arange(8)
b = a[4:6]
b[:] = 40
c = a[4] + a[6]
c

46

In [9]:
# Question 2
import re
s = 'ABCAC'
bool(re.match('A', s)) == True

True

In [33]:
# Question 3
def result():
    s = 'ACAABAACAAABACDBADDDFSDDDFFSSSASDAFAAACBAAAFASD'

    result = []
    # compete the pattern below
    pattern = '(?P<letter>[A-z])A{3}'
    for item in re.finditer(pattern, s):
      # identify the group number below.
      result.append(item.group('letter'))
    return result
        
result()

['C', 'F', 'B']

In [13]:
# Question 4
import pandas as pd
l = [4, 7, -5, 3]
index = ['d', 'b', 'a', 'c']

x = pd.Series(l, index = index)
x.index[0]

'd'

In [20]:
# Question 5

l1 = [4, 7, -5, 3]
index1 = ['d', 'b', 'a', 'c']

l2 = [5,6,7]
index2 = ['d', 'b', 'a']
x = pd.Series(l1, index = index1)
y = pd.Series(l2, index = index2)

In [21]:
# Question 6 

l1 = [4, 7, -5, 3]
index1 = ['d', 'b', 'a', 'c']

l2 = [5,6,7]
index2 = ['d', 'b', 'a']
x = pd.Series(l1, index = index1)
y = pd.Series(l2, index = index2)

x.name = 'X'
y.name = 'Y'

df = pd.merge(x,y, right_index= True, left_index = True)
df.reset_index()

  index  X  Y
0     d  4  5
1     b  7  6
2     a -5  7

In [22]:
# Question 7
S = pd.Series(np.arange(5), index=['a', 'b', 'c', 'd', 'e'])

In [25]:
# Question 8
l1 = [4, 7, -5, 3]
index1 = ['d', 'b', 'a', 'c']

l2 = [5,6,7]
index2 = ['d', 'b', 'a']
x = pd.Series(l1, index = index1)
y = pd.Series(l2, index = index2)

x.name = 'X'
y.name = 'Y'

df = pd.merge(x,y, right_index= True, left_index = True)

f = lambda x: x.max() + x.min()
df.apply(f)

X     2
Y    12
dtype: int64

In [26]:
# Question 9

# Feita no arquivo de assignment da semana 3

In [30]:
# Question 10
l1 = [4, 7, -5, 3, 5,6,np.nan]
index1 = ['d', 'b', 'a', 'c', 'd', 'b', 'a']
x = pd.Series(l1, index = index1)
x.groupby(x.index).sum()

a    -5.0
b    13.0
c     3.0
d     9.0
dtype: float64